.tooltip {
    display: inline;
    margin: 0 auto;
    position: relative;
}
.tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-align: center;
    top: 150%;
    left: 50%; /*定位到中间偏右一点*/
    margin-left: -60px; /*width的一半，左移到正中间*/
    padding: 5px;
    transition: all 0.3s linear;
    max-height: 0px;
    opacity: 0;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    /* css无法支持从0到auto的过渡效果，要么靠max-height(指定一个充分大的值)实现高度的过渡效果，要么计算出高度
    计算的例子见 https://www.bilibili.com/video/BV1L34y1q7mZ (gitee地址 https://gitee.com/wyanhui02/html_css_demo/blob/master/html/100.html ) ,
    此外或许也可以通过设置父元素的overflow为hidden收起折叠面板，这样做始终能获取到要折叠部分的高度，然后修改父元素的overflow属性并增减height实现折叠和收起的效果,
    还有一些可以参考的链接:
        https://juejin.cn/post/6865316668986523661
        https://juejin.cn/post/6931729552003891207
        https://segmentfault.com/a/1190000022442686
        https://blog.csdn.net/gtLBTNq9mr3/article/details/107074861
        https://juejin.cn/post/6844903845617729543
        https://juejin.cn/post/7026631585524875300
        https://blog.csdn.net/weixin_34150830/article/details/92508382
    height: auto; */
    max-height: 500px;
    opacity: 1;
}
.tooltip .tooltip-text::after {
    content: ""; /*见https://developer.mozilla.org/zh-CN/docs/Web/CSS/content，如果不写，默认为normal，对伪元素normal计算为none，不会显示伪元素*/
    position: absolute;
    bottom: 100%; /*定位到上方*/
    left: 50%; /*定位到中间偏右一点*/
    margin-left: -5px; /*左移到水平正中*/
    border-width: 5px; /*边框宽度为5px,底边为10px长*/
    border-style: solid;
    border-color: transparent transparent black transparent; /*用border画三角形，分别是上右下左，因为要画向上的箭头所以第三个位置不是透明*/
}