* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px 5px 5px 0;
  box-shadow: 1px 1px 15px 0 rgba(69, 65, 78, 0.08);
  padding: 10px;
  margin: 30px auto;
  font-family: Arial;
}
.common-table {
  margin: 0;
  width: 100%;
  /* 若是auto,表格会超出card */
  table-layout: fixed;
  /* 表格边框共用 */
  border-collapse: collapse;
}
.common-table th {
  padding: 8px;
  text-align: center;
}
.common-table tr {
  padding: 8px;
  text-align: center;
}
.common-table tbody tr:nth-child(2n+1) {
  background-color: #f8f9fa;;
}
.common-table td {
  border-top: 1px solid #dedede;
}
.common-table tr:last-child {
  border-bottom: 1px solid #dedede;
}
.overflow-text-ellipsis {
    text-align: center;
    padding: 8px;
    /* 不换行 */
    white-space: nowrap;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 显示为省略号 */
    text-overflow: ellipsis;
}
.tooltip {
    position: relative;
    overflow: visible;
}
.tooltip .tooltip-text {
    display: none;
    height: 0;
    position: absolute;
    /* 可以设置这个让内容不会太长
    max-width: 120px;
    单词断开
    word-break: break-all; */
    background-color: black;
    color: white;
    border-radius: 6px;
    text-align: center;
    top: 100%;
    left: 50%; /*定位到中间偏右一点*/
    transform: translateX(-50%); /*左移到正中间*/
    padding: 8px;
    white-space: nowrap;
    /* 不写这个可能和表格内容重影 */
    z-index: 1;
}
.tooltip:hover .tooltip-text {
    display: block;
    height: auto;
}
.tooltip .tooltip-text::after {
    content: ""; /*见https://developer.mozilla.org/zh-CN/docs/Web/CSS/content，如果不写，默认为normal，对伪元素normal计算为none，不会显示伪元素*/
    position: absolute;
    bottom: 100%; /*定位到上方*/
    left: 50%; /*定位到中间偏右一点*/
    margin-left: -5px; /*左移到水平正中*/
    border-width: 5px; /*边框宽度为5px,底边为10px长*/
    border-style: solid;
    border-color: transparent transparent black transparent; /*用border画三角形，分别是上右下左，因为要画向上的箭头所以第三个位置不是透明*/
}