* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 参考 https://segmentfault.com/q/1010000038499249
        https://v3.cn.vuejs.org/api/sfc-spec.html#style 单文件组件(.vue)才有scoped css*/
.fade-in-enter-active {
  transition: all 1s ease;
}
.fade-in-enter-from {
  opacity: 0;
}
.fade-in-enter-to {
  opacity: 1;
}
.fade-in-leave-active {
  transition: all 1s ease;
}
.fade-in-leave-from {
  opacity: 1;
}
.fade-in-leave-to {
  opacity: 0;
}
.has-arrow {
  position: relative;
}
/*.has-arrow:not(.expanded)::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 50%;
  right: 15px;
  color: #5f5f5f;
  border-top: 2px solid #dedede;
  border-right: 2px solid #dedede;
  !*rotate和translateY的顺序会有影响*!
  !*transform: rotate(45deg) translateY(calc(-50% - 2px));*!
  transform: translateY(-50%) rotate(45deg) ;
  transition: all 0.3s linear;
}
.has-arrow.expanded::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 50%;
  right: 15px;
  color: #5f5f5f;
  border-top: 2px solid #dedede;
  border-right: 2px solid #dedede;
  !*rotate和translateY的顺序会有影响*!
  !*transform: rotate(45deg) translateY(calc(-50% - 2px));*!
  transform: translateY(-50%) rotate(135deg) ;
  transition: all 0.3s linear;
}*/
.has-arrow::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 50%;
  right: 15px;
  color: #5f5f5f;
  border-top: 2px solid #dedede;
  border-right: 2px solid #dedede;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  /*rotate和translateY的顺序会有影响*/
  /*transform: rotate(45deg) translateY(calc(-50% - 2px));*/
  /*transform: rotate(45deg) translateY(-50%);*/   /*原因参考 https://blog.csdn.net/crazy_jialin/article/details/77969990，旋转之后这个伪元素的本地坐标系也跟着旋转了，tranlateY沿着的本地Y坐标系是斜着的，所以应该先位移，最后旋转*/
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s linear;
}
.has-arrow[aria-expanded=true]::after {
  transform: translateY(-50%)  rotate(135deg);
}
.button {
  margin: 15px;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(23, 125, 255);
  background-color: rgb(23, 125, 255);
}