* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1 {
    width: 8.333333333333333%;
}
.col-2 {
    width: 16.666666666666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333333333%;
}
.col-5 {
    width: 41.66666666666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333333334%;
}
.col-8 {
    width: 66.66666666666666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333333334%;
}
.col-11 {
    width: 91.66666666666666%;
}
.col-12 {
    width: 100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    padding: 15px;
}
.button {
    padding: 5px;
    color: white;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(23, 125, 255);
    text-align: center;
}
.button:hover {
    opacity: 0.9;
    transition: 0.3s;
}
a {
    color: blue;
}
.card {
    background-color: #fff;
    width: 100%;
    border-radius: 5px 5px 5px 0;
    box-shadow:1px 1px 15px 0 rgba(69,65,78,.08);
    padding: 15px;
}
.toast {
    width: 400px;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.divider {
    height: 1px;
    background-color: #e5e5e5;
    margin: 9px 0;
}
.option {
    color: #7e878f;
    padding: 3px 12px;
    font-size: 13px;
}
.option:hover {
    background-color: #41a5f6;
    color: white;
}
.option-selected {
    background-color: #41a5f6;
    color: white;
}
.filter {
    width: 100%;
    border: 1px solid #a3afb8;
    padding: 5px;
    outline: none;
}
.filter:focus {
    border-color: #6b6b91;
}
.search-icon {
    position: absolute;
    right: 0;
}
.search {
    display: flex;
    align-items: center;
}
.menu {
    width: 100%;
    box-shadow: 0 5px 12px 2px rgb(0 0 0 / 10%);
    padding: 5px;
    background-color: white;
    text-align: left;
}