* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 15px;
}
.svg-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 75px;
    color: rgb(85, 85, 85);
}
.svg-container {
    flex: 0 0 16.66666666666666%;
    height: 100px;
    text-align: center;
    padding: 15px 0;
    border-radius: 4px;
}
.svg-icon-container {
    display: inline-block;
    font-size: 36px;
    /* 减去的20px是svg-icon-name的line-height */
    height: calc(100% - 20px);
    transition: transform 0.2s linear;
}
.svg-icon-name {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.svg-container:hover {
    background-color: #1890ff;
}
.svg-container:hover > .svg-icon-container {
    color: white;
    transform: scale(1.4);
}
.svg-container:hover > .svg-icon-name {
    color: white;
}
.svg-icon {
    stroke: currentColor;
    fill: currentColor;
    cursor: pointer;
}
.bars-outline {
    stroke-width: 60;
    stroke-linecap: round;
}
.home {
    /* 用fill产生图形 */
    stroke-width: 0;
}