* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px 5px 5px 0;
  box-shadow:1px 1px 15px 0 rgba(69,65,78,.08);
  padding: 15px;
  font-family: Arial;
}
.row-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 45px;
  bottom: 45px;
  background-color: white;
  box-shadow: 0 0 16px 8px rgba(50,50,50,0.04);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.to-top:hover {
  box-shadow: 0 0 16px 8px rgba(50,50,50,0.06);
}