* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 10px solid #63a69f;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}
.loading::before {
    content: "";
    position: absolute;
    /* 绝对定位是相对包含块内容区定位,而.loading有border,所以要上移10px才能让loading::before和loading重合在一起 */
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 10px solid #f2e1ac;
    border-radius: 50%;
    transform: rotate(120deg);
}
.loading::after {
    content: "";
    position: absolute;
    /* 绝对定位是相对包含块内容区定位,而.loading有border,所以要上移10px才能让loading::after和loading重合在一起 */
    top: -10px;
    /* 这里不写left的话,把loading-text的position: absolute取消掉,会发现::after被loading-text挤开(把::after的rotate取消
    就能看出来),原因应该是绝对定位不指定偏移量时,其位置与position为static时的位置一致 */
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 10px solid #f2836b;
    border-radius: 50%;
    transform: rotate(240deg);
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}