* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    background-color: #fff;
    width: 100%;
    border-radius: 5px 5px 5px 0;
    box-shadow:1px 1px 15px 0 rgba(69,65,78,.08);
    padding: 15px;
    font-family: Arial;
}
.pic-lazy-load-container {
    height: 300px;
    overflow: hidden;
}
.pic-lazy-load {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.slide-in {
    animation: slide-in-animation 0.5s forwards;
}
@keyframes slide-in-animation {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}