* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ripple-container {
  overflow: hidden;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: lightblue;
  opacity: 0.4;
  transform: scale(0.25);
  /*防止点到波纹上再冒泡到处理方法上*/
  pointer-events: none;
  transition: transform 0.3s ease-out;
}
.expand {
  transform: scale(1);
}
